{% extends "layout.twig" %}

{% block content %}
<div class="py-5 text-center">

    <form method="post" action="/login" target="_self" class="needs-validation" novalidate>
        <div class="row">
            <div class="col-md-6 mb-3">
                <input type="text" name="username" class="form-control" id="username" placeholder="Username" value="" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <input type="text" name="password" class="form-control" id="password" placeholder="Password" value="" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Sign In</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
